:root {
    --dark-blue: #112949;
    --main-bg-color: #D5DBF8;
  --light-blue: #5271FF;
  --border-color: #112949;
  }

  body {
    font-family: system-ui;
    background: var(--main-bg-color) !important;
    height: 98vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
    background-color: var(--main-bg-color) !important;
  }

  .logo {
    position: absolute;
    top: -26px;
    width: 190px;
  }
section.download {
    margin-top: 84px;
    background: #fff;
    width: 430px;
    max-width: 90%;
    border-radius: 25px;
    box-shadow: 0px 20px 20px 0px #00000017;
    padding: 2rem;
    text-align: center;
}
.download__icon {
    height: 8rem;
}
.download__meta h4 {
    margin-bottom: 0;
    line-height: 1.3;
}
.send-btn-container a {
    display: inline-block;
    font-size: 18px;
    padding: 8px 40px;
    margin-top: 15px;
    background: var(--light-blue);
    text-decoration: none;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: all .3s ease-in-out;
  }

  .send-btn-container a:hover {
      background: #CB6CE6;
  }

.test{
    border: 2px dashed var(--border-color); border-radius: 10px;
}

